.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 3rem;
}

.articleContainer {
	width: 30rem;
}

.textAside {
	font-size: 1.5em;
	color: var(--text-color);
}
.submitButton {
	text-align: center;
	padding: 0.5em;
	font-size: 1.5em;
}

p.errorMessage {
	margin: 0;
	padding: 0.1em;
	font-size: 1.5em;
	font-weight: bold;
}

.errorMessage {
	color: var(--error-color);
}

@media screen and (max-width: 600px) {
	.container {
		flex-direction: column;
		padding: 2em;
	}
	.articleContainer {
		width: 100%;
	}
}
