.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 3rem;
}

.asideContainer {
	width: 30rem;
}

.textDefault {
	font-size: 1.5em;
	color: var(--text-color);
}

.textBottom{
	padding: 1em 15em;
}

.submitButton {
	text-align: center;
	padding: 0.5em;
	font-size: 1.5em;
}

p.successMessage,
p.errorMessage {
	margin: 0;
	padding: 0.1em;
	font-size: 1.5em;
	font-weight: bold;
}

.successMessage {
	color: var(--success-color);
}

.errorMessage {
	color: var(--error-color);
}

@media screen and (max-width: 600px) {
	.container {
		flex-direction: column;
		padding: 2em;
	}
	.asideContainer {
		width: 100%;
	}
}
