.default {
	font-size: 5em;
	background-color: var(--first-color);
	border-radius: 100%;
	margin: 0;
	width: 1.1em;
	font-weight: bold;
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: var(--second-color);
    z-index: 100;
}

.default:hover {
	cursor: pointer;
	background-color: var(--second-color);
	color: var(--first-color);
}
