.default {
	margin: 0;
	padding: 1em;
	font-weight: bold;
	color: var(--text-color);
	background-color: var(--first-color);
}

.default:hover {
	cursor: pointer;
	color: var(--first-color);
	color: var(--text-color);
}
