.defaultContainer {
	display: flex;
	align-items: center;
	gap: 0.2em;
	font-size: 1.5em;
	color: var(--text-color);
}

.default {
	width: 50px;
	cursor: pointer;
}

.linkStyles {
	text-decoration: none;
}
