.defaultContainer {
	display: flex;
	align-items: center;
	gap: 0.2em;
	font-size: 1.5em;
	color: var(--text-color);
}

.default {
	width: 50px;
	cursor: pointer;
}

.default:hover {
	animation-name: escalarImagen;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.linkStyles {
	text-decoration: none;
}

@keyframes escalarImagen {
	0% {
		transform: scale(1.5);
	}
	20% {
		transform: scale(2);
	}
	100% {
		transform: scale(1.5);
	}
}
