.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1em;
	background-color: var(--background-color);
	box-shadow: inset 0 -0.5em 0.5em 0.1em var(--first-color);
}

.menuContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.linkStyles {
	text-decoration: none;
}

.title {
	font-size: 3em;
	color: var(--second-color);
}

@media screen and (max-width: 800px) {
	.title {
		display: none;
	}
	.menuContainer {
		flex-direction: column;
		gap: 0.1em;
	}

	.menuContainer p {
		width: 150px;
		text-align: center;
	}
}
