.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1em;
	background-color: var(--background-color);
}

.title {
	font-size: 3em;
	color: var(--text-color);
}

.navContainerUnLogged,
.navContainerLogged,
.showFollows {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.linkStyles {
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.title {
		display: none;
	}

	.navContainerUnLogged {
		flex-direction: column;
		gap: 0.1em;
	}

	.navContainerUnLogged span {
		width: 150px;
		text-align: center;
	}

	.navContainerLogged span {
		width: fit-content;
	}

	.showFollows {
		display: none;
	}
}
