.default{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 1em;
	background-color: var(--background-color);
    border-radius: 1em;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: var(--text-color);
    gap: 0.1em;
}

.description{
    font-size: 2em;
    color: var(--text-color);
}


@media screen and (max-width: 1200px){
    .default{
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    .default{
        width: 80%;
    }
}