:root {
	--background-color: #333333;
	--text-color: #333333;
	--first-color: #7209b7;
	--second-color: #eeeeee;
	--error-color: #ff0000;
	--success-color: #00ff00;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: var(--background-color);
}
